/* ========== Colors ========== */
$page-background-color: #fdfdfd;
$dark-green:            #06323d;
$light-green:           #96c942;



/* ========== Fonts =========== */

// Font Family
$primary-font: "Montserrat", "Open Sans", "Helvetica", "Arial", sans-serif !important;
$khmer-font:   "Siemreap", "Open Sans", "Helvetica", "Arial", sans-serif !important;

// Font Weight
$light:     300;
$normal:    400;
$semi-bold: 500;
$bold:      700;



/* ========== Icons =========== */

// Images
$jquery-ui-icon-444444: "./dist/images/icons/ui-icons_444444_256x240.png";
$jquery-ui-icon-555555: "./dist/images/icons/ui-icons_555555_256x240.png";
$jquery-ui-icon-777620: "./dist/images/icons/ui-icons_777620_256x240.png";
$jquery-ui-icon-777777: "./dist/images/icons/ui-icons_777777_256x240.png";
$jquery-ui-icon-cc0000: "./dist/images/icons/ui-icons_cc0000_256x240.png";
$jquery-ui-icon-ffffff: "./dist/images/icons/ui-icons_ffffff_256x240.png";
